In [12]:
import pandas as pd
data = { 
    'kategoria': ['A','B','C','A','B'],
    'wartość':[45,35,24,54,21]
}
df = pd.DataFrame(data)
df

  kategoria  wartość
0         A       45
1         B       35
2         C       24
3         A       54
4         B       21

In [13]:
grupa = df.groupby('kategoria')
print(grupa['wartość'].sum())

kategoria
A    99
B    56
C    24
Name: wartość, dtype: int64

In [15]:
df.groupby('kategoria')['wartość'].mean()

kategoria
A    49.5
B    28.0
C    24.0
Name: wartość, dtype: float64

In [17]:
df.groupby('kategoria')['wartość'].count()

kategoria
A    2
B    2
C    1
Name: wartość, dtype: int64

In [19]:
df.sort_values(by='wartość', ascending=True)

  kategoria  wartość
4         B       21
2         C       24
1         B       35
0         A       45
3         A       54

In [20]:
df.sort_values(by='wartość', ascending=False)

  kategoria  wartość
3         A       54
0         A       45
1         B       35
2         C       24
4         B       21

In [ ]:
suma = df.groupby(