In [10]:
import pandas as pd
names_of_columns = ['coordinates','amount']
df = pd.read_csv('top_10_locations.csv', sep='\t', header=None, names=names_of_columns)
df['coordinates'] = df['coordinates'].str[1:-1]

df

           coordinates  amount
0             0.0, 0.0  170212
1  -73.9546, 40.821002    1022
2  -73.8708, 40.773738     655
3  -73.8744, 40.774051     640
4  -73.8745, 40.774108     616
5  -73.8744, 40.774028     605
6  -73.8745, 40.774101     598
7   -73.8744, 40.77407     589
8  -73.8708, 40.773761     561
9  -73.8708, 40.773731     558

In [4]:
import plotly.express as px
import pandas as pd
names_of_columns = ['coordinates','amount']
df = pd.read_csv('top_10_locations.csv', sep='\t', header=None, names=names_of_columns)
df['coordinates'] = df['coordinates'].str[1:-1]
df['amount'] = df['amount'].astype(int)

fig = px.bar(data_frame=df,
                x ="coordinates", 
                y ="amount",
                 color="amount",
                 title='Top 10 lokalizacji odbioru taxi',
                     labels={
      'longitude': 'Długość geograficzna',
      'latitude': 'Szerokość geograficzna',
      'amount': 'Liczba kursów'},
                           width=1000,   # szerokość w pikselach
    height=600
                         
)
fig.update_yaxes(range=[0, 1500])
update_traces(marker_color='#006666)
fig.show()

SyntaxError: incomplete input (1237045961.py, line 23)